html {
    height: 100%;
}

body {
    /* background-image: url("dog.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    background: linear-gradient(60deg, rgba(235,226,231,1) 3%, rgba(108,208,172,1) 29%, rgba(231,225,249,1) 77%);
    height: 100%;
}

p {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
}