body {
    background-color: orange;
    font-family: arial;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 60px;
    font-family: Papyrus;
    font-weight: normal;
    text-align: center;
    font-style: italic;
}

h2 {
    font-size: 100px;
    color: #00ffbb;
    background-color: magenta;
    border-radius: 10px;

    border-width: 15px;
    border-color: black;
    border-style: solid;

    /* border: 10px dotted blue; */
}

p {
    font-size: 20px;
    color: red;

    /* margin-left: 20px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 50px; */

    margin: 20px;

    padding: 50px;

    border: 2px solid purple;

    width: 50%;

    text-align:justify;
    /* text-justify: inter-character; */
    hyphens: auto;

    /* background-color: blue; */
}

strong {
    background-color: blue;
}
