.box1 {
    border: 1px solid red;
    background-color: pink;
    padding: 20px;

    /* position: relative; */
    position: absolute;
    /* position: fixed; */
    
    top: 10%; 
    left: 20%;

    width: 30%;
    height: 200px;

    z-index: 100;

    overflow: scroll;

    /* transform: rotate(-20deg); */
    /* opacity: 0.5; */
}

.box2 {
    border: 1px solid blue;
    background-color: lightblue;
    padding: 20px;

    position: absolute;
    top: 200px;
    left: 200px;
    width: 400px;
    height: 400px;

    /* transform: rotate(45deg); */

    z-index: 1000;
}

.box3 {
    position: absolute;
    border: 1px solid green;
    bottom: 20px;
    right: 40px;
}